[submodule "tools/thirdparty/imgui"]
	path = tools/thirdparty/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "tools/thirdparty/eastl"]
	path = tools/thirdparty/eastl
	url = https://github.com/electronicarts/EASTL
[submodule "tools/thirdparty/spdlog"]
	path = tools/thirdparty/spdlog
	url = https://github.com/gabime/spdlog
[submodule "tools/thirdparty/rapidjson"]
	path = tools/thirdparty/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "tools/thirdparty/zlib"]
	path = tools/thirdparty/zlib
	url = https://github.com/madler/zlib
[submodule "tools/thirdparty/sfml"]
	path = tools/thirdparty/sfml
	url = https://github.com/SFML/SFML
[submodule "tools/thirdparty/box2d"]
	path = tools/thirdparty/box2d
	url = https://github.com/erincatto/box2d
[submodule "tools/thirdparty/openal"]
	path = tools/thirdparty/openal
	url = https://github.com/kcat/openal-soft
[submodule "tools/thirdparty/pugixml"]
	path = tools/thirdparty/pugixml
	url = https://github.com/zeux/pugixml/
[submodule "tools/thirdparty/glfw"]
	path = tools/thirdparty/glfw
	url = https://github.com/glfw/glfw
[submodule "tools/thirdparty/glm"]
	path = tools/thirdparty/glm
	url = https://github.com/g-truc/glm
[submodule "tools/thirdparty/stb"]
	path = tools/thirdparty/stb
	url = https://github.com/nothings/stb
